

body{
  background-color:#aacfcf;
  font-family: 'Montserrat', sans-serif;
}
p{

}

.img{
  align:center;
  width: 100%;
  height: 600px;

  border: 10px solid #dee2e6;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;

}
.foot{
  padding-left: 100px;
  padding-right: 100px;
}


.shop-img{
  width: 50%;
  height: 50%;
  padding: 20px;

}
.pt{
  list-style: none;
}
.con{
  text-align: center;
  padding:20px;

}
.con1{
  text-align:justify;
  padding-left:200px;
}
.img3{
  width:40%;
}

.icon{
  width:2%
}
.footer{
  text-align: center;
}


  hr {
    border: dotted #EAF6F6 6px;
    border-bottom: 0;
    width: 10%;
    margin: 100px auto;
    padding: 0;
}
.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:800px;
  }

  .gmap_canvas
  {overflow:hidden;
    background:none !important;
    height:500px;
    width:800px;
    }

    .map{
      padding-left: 200px;
    }

    .footer{
      padding: 30px ;

    }

    .bottom-container{
      position:sticky;
      background-color:;
      padding: 50px 0 20px;
      margin: 0;
      border: 0;



    }
    .copyright{
      color:#EAF6F6;
      font-size: 0.75rem;
      padding:20px 0 0 0;

    }
    .heading
    {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding-top:20px;
      text-shadow: 2px 2px #0e9aa7;
    }
.foot{
  background-color: red;
}
.icon1{
  padding: 20px;
  padding-right: 5rem;

}
.con2{
  text-align: center;
}


.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
    @media (max-width: 576px) {
      .container {
        max-width: 540px;}

        .mapouter{

          height:200px;
          width:300px;
          }

          .gmap_canvas
          {
            height:200px;
            width:300px;
            }

            .map{
              padding-left:0px;
              padding-right: 50px;
            }
            .con1{
                padding-left:10rem;
            }
    }

    @media (max-width: 768px) {
      .container {
        max-width: 720px;
      }
      .mapouter{

        height:200px;
        width:300px;
        }

        .gmap_canvas
        {
          height:200px;
          width:300px;
          }

          .map{
            padding-left:0px;
            padding-right: 50px;
          }
          .img3{
            height: 300px;
            width:200px;
          }
          .con1{
              padding-left:10rem;
          }
    }

    @media (max-width: 992px) {
      .container {
        max-width: 960px;
      }
      .mapouter{

        height:200px;
        width:300px;
        }

        .gmap_canvas
        {
          height:200px;
          width:300px;
          }

          .map{
            padding-left:0px;
            padding-right: 100px;
          }
          .con1{
              padding-left:10rem;

          }
    }

    @media (max-width: 1200px) {
      .container {
        max-width: 1140px;
      }
      .mapouter{

        height:200px;
        width:300px;
        }

        .gmap_canvas
        {
          height:200px;
          width:300px;
          }

          .map{
            padding-left:0px;
            padding-right: 50px;
          }
          .con1{
            padding-left:10rem;
          }
    }
